.container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Content, and Table */
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: var(--bg-color);
  color: var(--text-color);
  z-index: 1; /* Keeps the header on top */
}

.grid-container {
  overflow: hidden; /* Prevents any overflow from the SVG */
}

.position-table {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: none; /* Initially hidden */
}

/* CSS for showing the table */
.show-table .position-table {
  display: block;
}

/* Dark and light theme colors */
:root {
  --bg-color: white;
  --text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: white;
  }
}
